.topbar{
  /* width: 85% !important; */
  background-color: white;
}
.title-header{
  color: black;
  margin-top: 5px !important;
  font-weight: bold !important;
}
.add-icon{
  margin-left: 25px !important;
}
.history-icon, .search-icon{
  color: black !important;
  margin-left: 25px;
  margin-top: 10px !important;
}
.icon-right{
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.siderbar-open{
  background-color: black;
}

.siderbar-open-titlename{
  display: flex;
  justify-content: center;
}

.siderbar-open-title{
  color: white;
}
.siderbar-open-company{
  color: blue;
  margin-top: 7px !important;
}

.siderbar-open-icon{
  color: white !important;
}

.list-work{
  background-color: #343a40 !important;
}

.bt-right{
  display: flex;
  justify-content: flex-end;
}

.bt-viewheader-right{
  background-color: #17a2b8 !important;
}

.title-viewheader-left{
  color: black;
  margin-left: 10px !important;
}

.viewbody-title-top{
  font-weight: bold;
}

.viewbody-title{
  color: #647279;
  margin-bottom: 5px !important;
}

.viewbody-status{
  background-color: #138496 !important;
  color: white !important;
}

.viewbody-icon-right{
  margin-top: 5px !important;
  display: flex;
  justify-content: flex-end;
}

.name-avatar{
  font-size: 15px !important;
  margin-top: 5px !important;
  margin-left: 10px !important;
}

.name-doc{
  font-size: 15px !important;
}

.time-upload{
  color: #6c757d;
  font-size: 13px !important;
}

.drag-drop-file{
  display: flex;
  justify-content: center;
}

.upload-file{
  color: #b4bdce;
  margin-left: 10px !important;
  margin-top: 5px !important;
}

.download-file{
  color: blue;
  font-size: 15px !important;
  margin-left: 5px !important;
}

.name-product, .bt-download-timline{
  color: blue;
}

.bt-timeline{
  background-color: #138496 !important;
  border: 1px solid #138496 !important;
}

.bt-icon-timeline{
  color: white !important;
}